@args(String message, String openDate, String openHour, String closeDate, String closeHour)
<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>OŠ Franceta Bevka: prijava popoldanskih dejavnosti</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

	<style type="text/css">
		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			line-height: 30px;
			background-color: #f5f5f5;
		}
	</style>


    <style type="text/css">#ie8-warn { display: none }</style>
    <style type="text/css">#ie9-warn { display: none }</style>
    <!--[if lte IE 8]>
    <style type="text/css">
        body main { display: none }
        #ie8-warn {
            display: block;
            margin-top: 30px;
        }
    </style>
    <![endif]-->

</head>

<body>
<main role="main">
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Osnovna šola Franceta Bevka</h1>
			<p class="lead text-muted">Prijava popoldanskih dejavnosti in časov odhoda domov</p>
		</div>
	</section>
	
	<section class="pt-3">
		<div class="container">
		@if (openDate != null && openHour != null) {
			<h3 class="text-center">
				Prijave se bodo pričele @openDate ob @openHour.
			</h3>
			<p class="text-center">
				Prosimo vas, da stran ponovno obiščete po tem času.
			</p>
		}
		else if (closeDate != null && closeHour != null) {
			<h3 class="text-center">
				Čas za prijavo je potekel @closeDate ob @closeHour.
			</h3>
		}
		else {
			<form class="form" action="/login" method="POST">
				<input type="hidden" name="client_name" value="FormClient">
				<input type="hidden" name="username" value="username_stub">
				<h4 class="text-center">
					<label for="code">Prosimo vas, da vnesete varnostno kodo, ki ste jo prejeli po elektronski pošti:</label>
				</h4>
				@if(message != null) {
                    <div class='alert alert-danger'>@message</div>
                }
				<p class="text-center">
					<input type="text" class="form-control" placeholder="Vaša varnostna koda, npr. kilad-dorod-haluf-tidoz" id="code" name="password"></input>
				</p>
                <div id="ie9-warn" class="container">
                    <div class="alert alert-danger">
                        Pozor! Imate zelo star brskalnik - stran morda ne bo tako pregledna, kot smo si želeli.
                        Razmislite o tem, da bi za prijavo interesnih dejavnosti uporabili novejši brskalnik!
                    </div>
                </div>
				<p class="text-center">
					<button class="btn btn-primary">Vstop</button>
				</p>
			</form>
		}
		</div>
	</section>
	
	<footer class="footer">
		<div class="container">
			<span class="text-muted">
				Stran je last osnovne šole <a href="http://www.francebevk.si/">Franceta Bevka</a> v Ljubljani.
				Razen podatkov o popoldanskih dejavnosti vaših otrok, ki jih vnašate v obrazec, o obiskovalcih ne hranimo nobenih drugih podatkov.
			</span>
		</div>
	</footer>
</main>
<div id="ie8-warn" class="container">
    <div class="alert alert-danger">
        Pozor! Imate prestar brskalnik, da bi lahko uporabljali to spletno stran!
    </div>
</div>
<script type="text/javascript" src="/assets/app.js" />
</body>
</html>
