@args(String pupilName, String pupilClass, Boolean pupilHasExtendedStay)
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OŠ Franceta Bevka: prijava popoldanskih dejavnosti</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style type="text/css">
		body { margin-bottom: 1.5em }
		.leave-form input { max-width: 5em; }

	</style>

</head>

<body>
<div class="container" id="app">

    <h1>Prijava popoldanskih aktivnosti v šolskem letu 2018 / 2019</h1>

    <p class="lead">
        Učenec/učenka: <strong>@pupilName, @pupilClass</strong>
    </p>

    @if (pupilHasExtendedStay) {
    <p class="lead">
        Vnesite podatke o času odhoda iz šole in o interesnih dejavnostih vašega otroka ter izbiro potrdite s pritiskom na zeleni gumb
        na dnu te strani.
    </p>
    } else {
    <p class="lead">
        Vnesite podatke o interesnih dejavnostih vašega otroka ter izbiro potrdite s pritiskom na zeleni gumb
        na dnu te strani.
    </p>
    }

    <noscript>
        <div class="alert alert-danger" role="alert">
            Pozor: stran ne bo delovala pravilno, dokler v brskalniku ne boste omogočili skriptnega jezika Javascript!
        </div>
    </noscript>

    <div class="alert alert-warning" role="alert">
        Vnešene podatke lahko naknadno še spremenite, prosimo pa vas, da s popravki zaključite  do dne <strong>25. 6. 2018</strong>!
        Po tem datumu bodo morebitne spremembe mogoče samo še z izrecnim soglasjem šole!
    </div>


    @if(pupilHasExtendedStay) {

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Odhodi iz šole</h4>
            <div class="form-group">
                <label for="extended_stay_select">Prosimo izberite, ali bo vaš otrok vključen v podaljšano bivanje:</label>
                <select class="form-control" v-model="extendedStay" id="extended_stay_select">
                    <option v-bind:value="false">Ne, moj otrok ne bo udeležen v podaljšanem bivanju</option>
                    <option v-bind:value="true">Da, moj otrok bo udeležen v podaljšanem bivanju</option>
                </select>
            </div>

            <p class="card-text" style="margin-top:3em;" v-if="extendedStay">
                Prosimo vas, da za vsak dan v tednu izberete čas odhoda domov ali označite, da otrok na ta dan ne bo udeležen
                v podaljšano bivanje.
            </p>

            <form class="leave-form" v-if="extendedStay">
                <div class="form-group row">
                    <label for="pon" class="col-sm-2 col-form-label col-form-label-sm">Ponedeljek</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" id="pon" v-model="leaveTimes.mon">
                            <option v-bind:value="null">Otrok ni vključen v podaljšano bivanje</option>
                            <option v-bind:value="time" v-for="time in leaveTimeRange">{{ time | minuteTime }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tor" class="col-sm-2 col-form-label col-form-label-sm">Torek</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" id="tor" v-model="leaveTimes.tue">
                            <option v-bind:value="null">Otrok ni vključen v podaljšano bivanje</option>
                            <option v-bind:value="time" v-for="time in leaveTimeRange">{{ time | minuteTime }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sre" class="col-sm-2 col-form-label col-form-label-sm">Sreda</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" id="sre" v-model="leaveTimes.wed">
                            <option v-bind:value="null">Otrok ni vključen v podaljšano bivanje</option>
                            <option v-bind:value="time" v-for="time in leaveTimeRange">{{ time | minuteTime }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cet" class="col-sm-2 col-form-label col-form-label-sm">Četrtek</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" id="cet" v-model="leaveTimes.thu">
                            <option v-bind:value="null">Otrok ni vključen v podaljšano bivanje</option>
                            <option v-bind:value="time" v-for="time in leaveTimeRange">{{ time | minuteTime }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pet" class="col-sm-2 col-form-label col-form-label-sm">Petek</label>
                    <div class="col-sm-10">
                        <select class="form-control form-control-sm" id="pet" v-model="leaveTimes.fri">
                            <option v-bind:value="null">Otrok ni vključen v podaljšano bivanje</option>
                            <option v-bind:value="time" v-for="time in leaveTimeRange">{{ time | minuteTime }}</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    }

    <div class="card mt-3">
        <div class="card-body">
            <h4 class="card-title">Interesne dejavnosti</h4>

            <div class="row">
                <div class="col-md-7">
                    <label for="izbirnik-opisov"><small>Poiščite željeno dejavnost v spodnjem seznamu ter jo izberite s pritiskom na modri gumb:</small></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="form">
                        <div class="form-group">
                            <select class="form-control" id="izbirnik-opisov" v-model="currentGroup">
                                <option v-for="group in groups" v-bind:value="group"> {{ group.name }}</option>
                            </select>
                        </div>
                        <div v-if="currentGroup">
                            <h4>

                                <span v-if="isSelected(currentGroup)">
                                    <button class="btn btn-danger btn-block" @@click.prevent="deselect(currentGroup)">Odstrani dejavnost {{ currentGroup.name }}</button>
                                </span><span v-else>
                                    <div v-if="hasConflictWithActivity(currentGroup)" class="text-danger">
                                        Ne morete izbrati aktivnosti, ker se časovni termini pokrivajo z dejavnostjo {{hasConflictWithActivity(currentGroup)}}!
                                    </div>
                                    <div v-else>
                                        <button class="btn btn-primary btn-block" @@click.prevent="select(currentGroup)">Izberi dejavnost {{ currentGroup.name }}</button>
                                    </div>
                                </span>

                            </h4>

                            <p>
                                <small>Nosilec/nosilka dejavnosti: {{ currentGroup.leader }}</small>
                                <br>
                                <small>
                                    Št. preostalih prostih mest: {{ currentGroup.freePlaces }}
                                    <span v-if="currentGroup.currentlyMine === true" class="text-success"><i>(na aktivnost je vaš otrok trenutno prijavljen)</i></span>
                                    <span v-if="currentGroup.currentlyMine === false"><i>(na aktivnost vaš otrok trenutno ni prijavljen)</i></span>
                                </small>
                                <br>
                                <small v-if="currentGroup.cost" class="text-danger">Cena: {{ currentGroup.cost }}</small>
                            </p>

                            <div>
                                <paragraphs :text="currentGroup.description"></paragraphs>
                            </div>

                            <h5>Termini:</h5>
                            <ul>
                                <li v-for="(times, day) in currentGroup.times">
                                    {{ times.day }}, {{ times.from | minuteTime }} - {{ times.to | minuteTime }}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 offset-md-1">
                    <p v-if="pupilGroups.length == 0">Trenutno nimate izbrane nobene dejavnosti.</p>
                    <div v-else>
                        <p>Izbrali ste naslednje dejavnosti:</p>
                        <ul class="list-unstyled" v-for="act in pupilGroups">
                            <li>
                                {{act.name}}
                                <a href="#" @@click.prevent="deselect(act)"><small>(odstrani)</small></a>
                                <ul>
                                    <li v-for="(times, day) in act.times">
                                        {{ times.day }}, {{ times.from | minuteTime }} - {{ times.to | minuteTime }}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-6">
            <a href="/finish" class="btn btn-success btn-block" @@click.prevent="save()">Potrjujem vnos</a>
        </div>
        <div class="col-6">
            <a href="/logout" class="btn btn-danger btn-block">Prekinitev in odjava</a>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/lodash@@4.17.4/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="lib/fetchPolyfill.js"></script>
<script src="app.js"></script>
</body>
</html>
