@import java.util.List
@import si.francebevk.viewmodel.MainPageForm
@args(MainPageForm vm, String vmJson)
<!doctype html>

<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>OŠ Franceta Bevka: prijava popoldanskih dejavnosti</title>



    <style type="text/css">
		body { margin-bottom: 1.5em }
		.leave-form input { max-width: 5em; }
        [v-cloak] {display: none}
	</style>

    <script type="text/javascript">
        window.morningWatchTimes = @vm.getMorningWatchTimesJsonArray();
        window.viewModel = @raw(vmJson);
    </script>

    @generated.PupilScripts.template()

</head>

<body>

    <div class="container mb-3" id="component">
        <noscript>
            <div class="alert alert-danger" role="alert">
                Pozor: stran ne bo delovala pravilno, dokler v brskalniku ne boste omogočili skriptnega jezika Javascript!
            </div>
        </noscript>
    </div>

</body>
</html>