@args()
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v3.1.0</title>

  <link rel="shortcut icon" type="image/png" href="jasmine_favicon.png">
  <link rel="stylesheet" href="assets/jasmine.css">

  <script src="assets/lib/jasmine.js"></script>
  <script src="assets/lib/jasmine-html.js"></script>
  <script src="assets/lib/boot.js"></script>

  <!-- include source files here... -->
  <script src="assets/time.js"></script>

  <!-- include spec files here... -->
  <script src="assets/test/times.js"></script>

</head>

<body>
</body>
</html>
