@args(String pupilName, String pupilClass, String securityCode, String openDate, String openHour, String closeDate, String closeHour)
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<p> </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">
    Spoštovani starši,</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><br>
</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1116_3859610427"></a>
    bliža se konec šolskega leta, priprave na novega so v polnem teku.
    Prosimo vas, da preko elektronske aplikacije svojega otroka
    prijavite
    na <b>obroke prehrane</b> (1.–9. r.), na <b>jutranje varstvo</b>
    (1.–3. r.), <b>podaljšano bivanje</b> (1. –5. r.) in naročite
    <b>izposojo kompleta učbenikov</b> iz učbeniškega sklada. Od danes
    naprej potekajo tudi prijave na <b>interesne dejavnosti</b> in
    dejavnosti <b>razširjenega programa</b> (RaP), ki jih bomo za
    učence
    organizirali v naslednjem šolskem letu 2020/21.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1118_3859610427"></a>
    <font color="#222222">Obveščamo vas, da bo naša šola v naslednjem
        šolskem letu tretje leto vključena v poskus razširjenega
        programa
        (RaP), zato bomo učencem še naprej nudili možnost dodatnih ur
        gibanja, vsebin o zdravju in </font>varnosti ter o zdravi
    prehrani. Program se bo za učence od 1. do 5. r. izvajal tudi v
    sklopu podaljšanega bivanja. </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1120_3859610427"></a>
    Na OŠ Franceta Bevka smo za šolsko leto 2020/21 pripravili pester
    program interesnih dejavnosti, ki smo ga oblikovali glede na
    kadrovske in ostale zmožnosti ter seveda programsko usmeritev
    šole.
    V priloženem katalogu so zbrane različne interesne dejavnosti, ki
    jih bodo vodili naši učitelji in zunanji izvajalci. Prosimo vas,
    da
    ponudbo pregledate in se skupaj s svojim otrokom odločite, katere
    interesne dejavnosti bo obiskoval v naslednjem šolskem letu, pri
    tem
    pa upoštevate, da se učenci v interesne dejavnosti vključujejo
    prostovoljno na osnovi lastnih interesov in potreb. </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1122_3859610427"></a>
    Število učencev v posameznem krožku je omejeno glede na normativ
    ali prostorske zmožnosti, zato so prijave možne le do zapolnitve
    mest. Ker želimo čim večjemu številu otrok omogočiti obiskovanje
    interesnih dejavnosti, smo število krožkov, ki jih otrok lahko
    obiskuje, omejili na dva oz. tri, iz tega pa smo izvzeli krožke,
    ki
    nimajo omejitev, to so pevski zbor, planinski krožek, plesne vaje
    in
    solo petje oz. instrument.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1124_3859610427"></a>
    <b>Starši učencev od 1. do 3. razreda</b> boste svojega otroka
    prijavili hkrati na obroke prehrane, na interesne dejavnosti in
    dejavnosti <b>razširjenega programa</b> (RaP), v jutranje varstvo
    in
    v podaljšano bivanje ter se izrekli o pooblaščenih osebah, ki
    poleg vas lahko odpeljejo otroka iz šole. </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1126_3859610427"></a>
    <b>Starši učencev 4. in 5. razreda</b> boste svojega otroka
    prijavili na obroke prehrane, interesne dejavnosti, dejavnosti
    <b>razširjenega programa</b> (RaP) in v podaljšano bivanje ter se
    izrekli o pooblaščenih osebah, ki poleg vas lahko odpeljejo otroka
    iz šole. Naročili boste tudi komplet učbenikov Učbeniškega
    sklada.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1128_3859610427"></a>
    <b>Starši učencev od 6. do 9. razreda</b> boste otroka prijavili
    na
    obroke prehrane in na interesne dejavnosti ter dejavnosti
    <b>razširjenega programa</b> (RaP). Naročili boste tudi komplet
    učbenikov Učbeniškega sklada.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><br>
    <br>
</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1130_3859610427"></a>
    Prijave bodo potekale preko sistema elektronskih prijav, ki smo ga
    vpeljali pred dvema letoma. Z njim želimo staršem omogočiti
    sodoben način prijave, nam pa možnost učinkovitejšega zbiranja
    podatkov za oblikovanje skupin. </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1133_3859610427"></a><a name="_GoBack"></a>
    Vaš podpis v fizični obliki potrebujemo samo za prijavo obrokov
    šolske prehrane, zato bodo jutri vsi učenci prejeli prijavnico za
    prehrano v papirni obliki (obvezen obrazec Ministrstva) za
    naslednje
    šolsko leto. Prosimo vas, da tudi to izpolnite in podpišete ter jo
    vrnete razredniku do <b>ponedeljka, 22. 6. 2020</b>. </p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1135_3859610427"></a>
    <u><b>ELEKTRONSKA PRIJAVA</b></u></p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1137_3859610427"></a>
    Prijave so bodo začele <b>v </b><font color="#ff0000"><b>sredo</b></font><b>,
        17. 6. 2020, ob 17.00 </b>in bodo trajale do <b>nedelje, 21.
        6., do
        polnoči</b>. V tem času boste lahko otroka prijavili na dve
    interesni dejavnosti, na tretjo pa po pregledu podatkov, ko vas
    bomo
    povabili k vpisu še v tiste interesne dejavnosti, v katerih bodo
    prosta mesta. Aplikacijo bomo tako ponovno odprli <b>v
        ponedeljek,
    </b><font color="#ff0000"><b>22. 6., ob 17.00 </b></font><font
            color="#ff0000">in
        jo zaprli </font><font color="#ff0000"><b>v sredo, 24. 6., ob
        polnoči</b></font><font color="#ff0000">. </font>
</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1139_3859610427"></a>
    Do spletne prijave dostopate tako, da v brskalniku odprete spletno
    stran <font color="#ff0000"><a class="moz-txt-link-freetext" href="https://ind.francebevk.si">https://ind.francebevk.si</a></font> – za vstop
    potrebujete samo osebno varnostno kodo:</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><font
        color="#ff0000">@securityCode</font></p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><a
        name="__DdeLink__1141_3859610427"></a>
    Varnostno kodo prilepite v vnosno polje na spletni strani in
    sledite
    navodilom. Ko boste končali z vnašanjem podatkov za vašega otroka,
    vam bo sistem za vašo evidenco poslal še elektronsko sporočilo s
    popisom izbranih dejavnosti.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">S
    pravočasno prijavo nam boste omogočili lažje načrtovanje novega
    šolskega leta in oblikovanje skupin za podaljšano bivanje, za kar
    se vam zahvaljujemo.</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify"><br>
    <br>
</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">Lep
    pozdrav</p>
<p style="margin-bottom: 0.28cm; line-height: 108%" align="justify">Barbara
    Kampjut, ravnateljica</p>
<p style="margin-bottom: 0.28cm; line-height: 108%"><br>
    <br>
</p>
<p>
    <style type="text/css">
		p { margin-bottom: 0.25cm; direction: ltr; line-height: 115%; text-align: left; orphans: 2; widows: 2; background: transparent }</style></p>
</body>
</html>