@args(String pupilName, String pupilClass, String securityCode)
<html>

<p>Spoštovani,</p>

<p>
    v šolskem letu 2018/2019 smo za vas pripravili nov sistem elektronske prijave popoldanskih aktivnosti za vaše otroke.
</p>

<p>
    Do prijave v podaljšano bivanje in na interesne dejavnosti dostopate tako, da v brskalniku odprete naslednjo
    <a href="https://ind.francebevk.si">spletno stran</a>. Za vstop potrebujete samo vašo osebno varnostno kodo:
</p>

<h2>@securityCode</h2>

<p>
    Varnostno kodo prilepite v vnosno polje na spletni strani in sledite navodilom. Ko boste končali z vnašanjem podatkov za vašega otroka, vam bo sistem za vašo evidenco poslal še elektronsko sporočilo s popisom izbranih dejavnosti.
</p>

<p>
    Lep pozdrav<br/>
    Barbara Kampjut, ravnateljica
</p>

</html>