@args(String pupilName, String pupilClass, String securityCode, String openDate, String openHour, String closeDate, String closeHour)
<html>

<p>Spoštovani starši,</p>

<p>
    tudi v šolskem letu 2019/2020 smo za vas pripravili sistem elektronske prijave popoldanskih aktivnosti za vaše otroke.
    Prijave so bodo začele @openDate ob @openHour in trajale do @closeDate ob @closeHour.
    V tem času boste lahko otroka prijavili na dve interesni dejavnosti, na tretjo pa po pregledu podatkov, ko vas bomo povabili k vpisu še v tiste interesne dejavnosti, v katerih bodo prosta mesta. Aplikacijo bomo tako ponovno odprli v torek, 18. 6., ob 16.00 uri in jo zaprli v četrtek, 20. 6., ob polnoči.
</p>

<p>
    Do prijave v podaljšano bivanje in na interesne dejavnosti dostopate tako, da v brskalniku odprete naslednjo
    <a href="https://ind.francebevk.si">spletno stran</a>. Za vstop potrebujete samo vašo osebno varnostno kodo:
</p>

<h2>@securityCode</h2>

<p>
    Varnostno kodo prilepite v vnosno polje na spletni strani in sledite navodilom. Ko boste končali z vnašanjem podatkov za vašega otroka, vam bo sistem za vašo evidenco poslal še elektronsko sporočilo s popisom izbranih dejavnosti.
</p>

<p>
    Lep pozdrav<br/>
    Barbara Kampjut, ravnateljica
</p>

</html>