@args(RockerBody body)
<!doctype html>

<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>OŠ Franceta Bevka: prijava popoldanskih dejavnosti (administracija)</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    @generated.AdminScripts.template()
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-print-none">
            <a class="navbar-brand" href="/">Prijava IND</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Učenci</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/by-activity">Krožki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/by-hours">Odhodi po urah</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/stats">Statistika</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Maili
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/welcome-emails">Uvodni maili (vsi učenci)</a>
                            <a class="dropdown-item" href="/admin/welcome-emails/vsi">Uvodni maili (le tisti, ki še niso prejeli)</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        @body
    </div>

</body>
</html>