@import si.francebevk.viewmodel.PupilWithActivities
@import si.francebevk.db.tables.records.*
@import java.util.List
@import java.util.Map
@import static org.apache.commons.lang3.StringUtils.join
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.getMinuteTimeFormat
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.shortActivityName
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.longActivityPeriods
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.getSloType
@import static org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@args(List<PupilWithActivities> pupils, Map<Long, ActivityRecord> activities, List<String> klasses, Map<Long, List<AuthorizedCompanionRecord>> escorts)
@admin.Layout.template() -> {

    <script type="text/javascript">
        window.klasses = [ @for((i, klass): klasses) {
            "@klass"
            @if (!i.last()) {,}
        } ]
    </script>

    <div id="pupilList">
        <h1 class="mb-5 mt-3" v-if="!extendedView">Prijavljene aktivnosti učencev</h1>

        <div class="d-print-none">
            <input id="filter" class="form-control" type="search" :autofocus="'autofocus'" v-model="search" placeholder="Iskanje po učencih in razredih">
            <small class="form-text text-muted">
                Iščete lahko po letu (npr. 2), oznaki razreda (npr. 3B) ter po delih imen in priimkov. S presledkom
                lahko naenkrat uporabite več iskanih terminov.
            </small>
        </div>
        <div class="d-print-none form-check" v-cloak>
            <input class="form-check-input" type="checkbox" value="" id="verbose-print-check" v-model="extendedView">
            <label class="form-check-label" for="verbose-print-check">
                Individualni izpisi
            </label>
        </div>

        <div class="d-print-none">
            <button class="btn btn-success" @@click.prevent="createPupil">
                Dodaj učenca
            </button>
        </div>

        <hr v-if="!extendedView">

        <table class="table table-sm table-bordered" v-if="!extendedView">
            <thead>
                <tr>
                    <th>Razred</th>
                    <th>Ime</th>
                    <th>Odprl<br>prijave</th>
                    <th>Pon</th>
                    <th>Tor</th>
                    <th>Sre</th>
                    <th>Čet</th>
                    <th>Pet</th>
                    <th>Aktivnosti</th>
                    <th>Pooblaščene osebe</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="10" class="text-center" v-if="false">...nalagam, prosim počakajte...</td></tr>
                @for(pupil : pupils) {
                    <tr style="display:none" v-show="matchesFilter('@escapeEcmaScript(pupil.getPupil().getPupilGroup())', '@escapeEcmaScript(pupil.getPupil().getFirstName())', '@escapeEcmaScript(pupil.getPupil().getLastName())')">
                        <td>@pupil.getPupil().getPupilGroup()</td>
                        <td>
                            <div style="display: flex; justify-content: space-between">
                                <a href="/admin/pupil/@pupil.getPupil().getId()/">@pupil.getPupil().getFirstName() @pupil.getPupil().getLastName()</a>
                                <a href="#" @@click.prevent="editPupil(@pupil.getPupil().getId())">
                                    @if(pupil.getPupil().getEmails() == null || pupil.getPupil().getEmails().length == 0) {
                                        <i class="fas fa-envelope text-danger" title="Nimamo email naslova!"></i>
                                    }
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a href="#" @@click.prevent="showEvents(@pupil.getPupil().getId(), '@escapeEcmaScript(pupil.getPupil().getFirstName()) @escapeEcmaScript(pupil.getPupil().getLastName())')">
                                @if(pupil.getPupil().getLastLogin() != null) { Da } else { <span class="text-danger">Ne</span> }
                            </a>
                        </td>
                        @if(pupil.getPupil().getExtendedStay()) {
                            <td>@if(pupil.getPupil().getLeaveMon() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveMon()) } else { Po pouku }</td>
                            <td>@if(pupil.getPupil().getLeaveTue() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveTue()) } else { Po pouku }</td>
                            <td>@if(pupil.getPupil().getLeaveWed() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveWed()) } else { Po pouku }</td>
                            <td>@if(pupil.getPupil().getLeaveThu() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveThu()) } else { Po pouku }</td>
                            <td>@if(pupil.getPupil().getLeaveFri() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveFri()) } else { Po pouku }</td>
                        } else {
                            <td colspan="5" class="text-center"><i>Ni v podaljšanem bivanju</i></td>
                        }
                        <td>
                            @for((i, activityId): pupil.getActivities()) {
                                @shortActivityName(activities.get(activityId))@if(!i.last()) {,}
                            }
                        </td>
                        <td>
                            @with(pupilEscorts = escorts.get(pupil.getPupil().getId())) {
                                @if(pupilEscorts != null) {
                                    @for((i, pupilEscort) : pupilEscorts) {
                                        @pupilEscort.getName() (@getSloType(pupilEscort))@if(!i.last()) {,}
                                    }
                                }
                            }
                            @if (pupil.getPupil().getCanLeaveAlone()) {
                                <strong>šolo sme zapustiti brez spremstva!</strong>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- detailed views, mainly for printing -->
        <div v-cloak v-if="extendedView">
        @for(pupil : pupils) {
            <div style="page-break-after: always; display:none" v-show="matchesFilter('@escapeEcmaScript(pupil.getPupil().getPupilGroup())', '@escapeEcmaScript(pupil.getPupil().getFirstName())', '@escapeEcmaScript(pupil.getPupil().getLastName())')">
                <h1 class="text-center">@pupil.getPupil().getFirstName() @pupil.getPupil().getLastName()<br></h1>
                <h3 class="text-center" style="margin-bottom: 60px;"><small>@pupil.getPupil().getPupilGroup()</small></h3>

                <h6 class="border-bottom border-gray pb-2">Popoldanske aktivnosti</h6>
                <div class="media">
                    @with(selectedActivities = pupil.getActivities()) {
                        @if (selectedActivities == null || selectedActivities.length == 0) {
                            <p><strong class="d-block text-gray-dark text-muted">Ni prijavljen v nobeno aktivnost.</strong></p>
                        } else {
                            @for((i, activityId): selectedActivities) {
                                <p class="media-body pb-3 mb-0 small lh-125">
                                    <strong class="d-block text-gray-dark">@activities.get(activityId).getName()</strong>
                                    @longActivityPeriods(activities.get(activityId))
                                </p>
                            }
                        }
                    }
                </div>

                <h6 class="border-bottom border-gray pb-2" style="margin-top: 30px;">Odhod iz podaljšanega bivanja</h6>
                @if(pupil.getPupil().getExtendedStay()) {
                    <dl class="row">
                        <dt class="col-sm-2">Ponedeljek</dt>
                        <dd class="col-sm-10">@if(pupil.getPupil().getLeaveMon() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveMon()) } else { Ni v podaljšanem bivanju. }</dd>

                        <dt class="col-sm-2">Torek</dt>
                        <dd class="col-sm-10">@if(pupil.getPupil().getLeaveTue() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveTue()) } else { Ni v podaljšanem bivanju. }</dd>

                        <dt class="col-sm-2">Sreda</dt>
                        <dd class="col-sm-10">@if(pupil.getPupil().getLeaveWed() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveWed()) } else { Ni v podaljšanem bivanju. }</dd>

                        <dt class="col-sm-2">Četrtek</dt>
                        <dd class="col-sm-10">@if(pupil.getPupil().getLeaveThu() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveThu()) } else { Ni v podaljšanem bivanju. }</dd>

                        <dt class="col-sm-2">Petek</dt>
                        <dd class="col-sm-10">@if(pupil.getPupil().getLeaveFri() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveFri()) } else { Ni v podaljšanem bivanju. }</dd>
                    </dl>
                } else {
                    <p><strong class="d-block text-gray-dark text-muted">Ni v podaljšanem bivanju.</strong></p>
                }
                @if (pupil.getPupil().getCanLeaveAlone()) {
                    <p><strong>Šolo sme zapustiti brez spremstva!</strong></p>
                }

                <h6 class="border-bottom border-gray pb-2" style="margin-top: 30px;">Dodatno pooblaščene osebe, ki smejo otroka pospremiti domov iz šole</h6>
                @with(pupilEscorts = escorts.get(pupil.getPupil().getId())) {
                    @if (pupilEscorts == null || pupilEscorts.isEmpty()) {
                        <p><strong class="d-block text-gray-dark text-muted">Nobenih dodatno pooblaščenih oseb.</strong></p>
                    } else {
                        <dl class="row">
                            @for(pupilEscort : pupilEscorts) {
                                <dt class="col-sm-2">@pupilEscort.getName()</dt>
                                <dd class="col-sm-10">@getSloType(pupilEscort)&nbsp;</dd>
                            }
                        </dl>
                    }
                }
            </div>
        }
        </div>


        <div class="modal" tabindex="-1" role="dialog" ref="activityDialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Aktivnost v aplikaciji za učenca/učenko {{pupilEventsForPupil}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Čas</th>
                                    <th>Tip dogodka</th>
                                    <th>Vnesla šola</th>
                                    <th>Opis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="pupilEvents.length == 0">
                                    <td colspan="4">
                                        Za učenca/učenko ni bilo še nobene aktivnosti.
                                    </td>
                                </tr>
                                <tr v-for="event in pupilEvents" :class="eventClass(event)">
                                    <td>{{ event.time | date }}</td>
                                    <td>{{ event.type | event_type }}</td>
                                    <td><span v-if="event.admin_user" class="text-danger">Vnesla šola</span><span v-else class="text-muted">ne</span></td>
                                    <td>{{ event.details }}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}