@import si.francebevk.viewmodel.PupilWithActivities
@import si.francebevk.db.tables.records.*
@import java.util.List
@import java.util.Map
@import static org.apache.commons.lang3.StringUtils.join
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.getMinuteTimeFormat
@import static si.francebevk.interesnedejavnosti.ExtensionsKt.shortActivityName
@import static org.apache.commons.lang3.StringEscapeUtils.escapeEcmaScript
@args(List<PupilWithActivities> pupils, Map<Long, ActivityRecord> activities)
@admin.Layout.template("pupilList.js") -> {
    <h1 class="mb-5 mt-3">Prijavljene aktivnosti učencev</h1>

    <div id="app">
        <div class="d-print-none">
            <input id="filter" class="form-control" type="search" :autofocus="'autofocus'" v-model="search" placeholder="Iskanje po učencih in razredih">
            <small class="form-text text-muted">
                Iščete lahko po letu (npr. 2), oznaki razreda (npr. 3B) ter po delih imen in priimkov. S presledkom
                lahko naenkrat uporabite več iskanih terminov.
            </small>
        </div>

        <hr>

        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Razred</th>
                    <th>Ime</th>
                    <th>Odprl<br>prijave</th>
                    <th>Pon</th>
                    <th>Tor</th>
                    <th>Sre</th>
                    <th>Čet</th>
                    <th>Pet</th>
                    <th>Aktivnosti</th>
                </tr>
            </thead>
            <tbody>
                @for(pupil : pupils) {
                    <tr v-if="matchesFilter('@escapeEcmaScript(pupil.getPupil().getPupilGroup())', '@escapeEcmaScript(pupil.getPupil().getName())')">
                        <td>@pupil.getPupil().getPupilGroup()</td>
                        <td><a href="/admin/pupil/@pupil.getPupil().getId()/">@pupil.getPupil().getName()</a></td>
                        <td>
                            <a href="#" @@click.prevent="showEvents(@pupil.getPupil().getId(), '@escapeEcmaScript(pupil.getPupil().getName())')">
                                @if(pupil.getPupil().getLastLogin() != null) { Da } else { <span class="text-danger">Ne</span> }
                            </a>
                        </td>
                        @if(pupil.getPupil().getExtendedStay()) {
                            <td>@if(pupil.getPupil().getLeaveMon() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveMon()) }</td>
                            <td>@if(pupil.getPupil().getLeaveTue() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveTue()) }</td>
                            <td>@if(pupil.getPupil().getLeaveWed() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveWed()) }</td>
                            <td>@if(pupil.getPupil().getLeaveThu() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveThu()) }</td>
                            <td>@if(pupil.getPupil().getLeaveFri() != null) { @getMinuteTimeFormat(pupil.getPupil().getLeaveFri()) }</td>
                        } else {
                            <td colspan="5" class="text-center"><i>Ni v podaljšanem bivanju</i></td>
                        }
                        <td>
                            @for((i, activityId): pupil.getActivities()) {
                                @shortActivityName(activities.get(activityId))@if(!i.last()) {,}
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal" tabindex="-1" role="dialog" ref="activityDialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Aktivnost v aplikaciji za učenca/učenko {{pupilEventsForPupil}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Čas</th>
                                    <th>Tip dogodka</th>
                                    <th>Vnesla šola</th>
                                    <th>Opis</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-if="pupilEvents.length == 0">
                                    <td colspan="4">
                                        Za učenca/učenko ni bilo še nobene aktivnosti.
                                    </td>
                                </tr>
                                <tr v-for="event in pupilEvents" :class="eventClass(event)">
                                    <td>{{ event.time | date }}</td>
                                    <td>{{ event.type | event_type }}</td>
                                    <td><span v-if="event.admin_user" class="text-danger">Vnesla šola</span><span v-else class="text-muted">ne</span></td>
                                    <td>{{ event.details }}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}